/target
/artifacts
.idea

# Python
__pycache__
.mypy_cache
.pytest_cache
.ruff_cache
.venv
venv
.coverage
*.so
*.py[cod]
_build/

# Benchmarks
/benchmarks/.cert
/benchmarks/results-*.json
/benchmarks/node/node_modules
/benchmarks/node/package-lock.json
